@media screen and (max-width:700px){
    .descricao{
        width: 98%;
    }
    header .container{
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-bottom: 10px;
        width: 300px;

    }
    .filme-principal .container{
        margin-left: 10px;
    }
 
}

@media screen and (min-width: 1000px) {
    .descricao{
        width: 50%;
    }
}